/*
* @Author: showa11
* @Date:   2017-07-19 17:51:30
* @Last Modified by:   showa11
* @Last Modified time: 2017-07-19 17:56:48
*/

.footer {
	padding-bottom: 10px;
}
.footer .links {
	text-align: center;
	color: #666;
	line-height: 30px;
}
.footer .links .link {
	padding: 0 10px;
}
.footer .copyright {
	text-align: center;
	color: #666; 
	line-height: 30px;
}
