
<div class="footer">
	<div class="w">
		<div class="links">
			<a href="http://www.imooc.com" class="link" target="_blank">慕课网</a> |
			<a href="http://www.imooc.com" class="link" target="_blank">锤子科技</a> |
			<a href="http://www.imooc.com" class="link" target="_blank">腾讯</a> |
			<a href="http://www.imooc.com" class="link" target="_blank">京东</a> |
			<a href="https://www.zhihu.com" class="link" target="_blank">优酷</a>
		</div>
		<p class="copyright">
			Copyright © 2017 happymmall.com All Right Reserved
		</p>
	</div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>